<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- jdbc -->
    <bean id="mariadbConnection" class="db.MariadbConnection">
        <constructor-arg name="driverClassName" value="org.mariadb.jdbc.Driver"/>
        <constructor-arg name="url" value="jdbc:mariadb://localhost:3306/singer"/>
        <constructor-arg name="user" value="sjkim"/>
        <constructor-arg name="password" value="password"/>
    </bean>

    <!-- HikariCP -->
<!--    <bean id="hikariConfig" class="com.zaxxer.hikari.HikariDataSource">-->
<!--        <property name="driverClassName" value="org.mariadb.jdbc.Driver"/>-->
<!--        <property name="jdbcUrl" value="jdbc:mariadb://localhost:3306/singer"/>-->
<!--        <property name="username" value="sjkim"/>-->
<!--        <property name="password" value="password"/>-->
<!--    </bean>-->
<!--    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">-->
<!--        <constructor-arg ref="hikariConfig"/>-->
<!--    </bean>-->

    <bean id="baseQueryProcessor" class="util.BaseQueryProcessor" abstract="true">
        <constructor-arg ref="mariadbConnection" index="0"/>
    </bean>

    <bean id="singerGroupDaoImpl" class="domain.dao.SingerGroupDaoImpl" parent="baseQueryProcessor">
        <constructor-arg ref="mariadbConnection" index="0"/>
    </bean>

    <bean id="queryExecutor" class="util.QueryExecutor">
        <constructor-arg ref="mariadbConnection" index="0"/>
    </bean>

    <bean id="singerDaoImpl" class="domain.dao.SingerDaoImpl">
        <constructor-arg ref="queryExecutor" index="0"/>
    </bean>


</beans>