<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd">

    <bean id="loginSuccessHandler" class="com.sjkim.config.security.LoginSuccessHandler"/>

    <sec:http use-expressions="true">
        <sec:intercept-url pattern="/admin/**" access="hasAuthority('ROLE_ADMIN')"/>
        <sec:intercept-url pattern="/member/**" access="isAuthenticated()"/>
        <sec:intercept-url pattern="/" access="permitAll()"/>
        <sec:form-login/>
<!--        <sec:logout/>-->
        <sec:access-denied-handler error-page="/error"/>
    </sec:http>

    <sec:csrf disabled="true"/>

    <sec:authentication-manager>
        <!-- test -->
        <sec:authentication-provider>
            <sec:user-service>
                <sec:user name="user" password="{noop}user" authorities="ROLE_USER"/>
                <sec:user name="admin" password="{noop}admin" authorities="ROLE_ADMIN"/>
            </sec:user-service>
        </sec:authentication-provider>
    </sec:authentication-manager>
</beans>