<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd">

    <sec:http use-expressions="true">
        <sec:intercept-url pattern="/admin/**" access="hasAuthority('ROLE-ADMIN')"/>
        <sec:intercept-url pattern="/member/**" access="isAuthenticated()"/>
        <sec:intercept-url pattern="/**" access="permitAll()"/>
        <sec:form-login/>
        <sec:logout/>
    </sec:http>

</beans>